.status--Guerrier{
  color: #cd853f;
}

.status--Chaman{
 color: #217acd;
}

.status--DeathKnight{
 color: #cd242f;
}

.status--DemonHunter{
 color: #730564;
}

.status--Démoniste{
 color: #cd30b3;
}

.status--Druide{
 color: #ffa500;
}

.status--Chasseur{
 color: #9acd32;
}

.status--Mage{
 color: #1bc4cd;
}

.status--Moine{
 color: #00ff7f;
}

.status--Paladin{
 color: #cb85cd;
}

.status--Prêtre{
 color: #ffffff;
}

.status--Voleur{
 color: #ffff66;
}
