<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Mettre à jour les nouvelles stats</h2>
    <form [formGroup]="pdsForm" (ngSubmit)="onEditPds()">
      <div class="form-group">
        <label for="classeName">Classe :</label>
        <a type="text" id="classeName"
           class="form-control" formControlName="classeName">{{classe}}</a>
      </div>
      <div class="form-group">
        <label for="specName">Spécialisation :</label>
        <a type="text" id="specName"
           class="form-control" formControlName="specName">{{spec}}</a>
      </div>
      <div class="form-group">
        <label for="statsMono">Stats Mono :</label>
        <input type="text" id="statsMono"
               class="form-control" formControlName="statsMono"/>
      </div>
      <div class="form-group">
        <label for="statsMulti">Stats Multi :</label>
        <input type="text" id="statsMulti"
               class="form-control" formControlName="statsMulti"/>
      </div>
      <button class="btn btn-success" [disabled]="pdsForm.invalid"
              type="submit">Enregistrer
      </button>
    </form>
  </div>
</div>
