<div class="row">
  <div class="offset-1 col-6 mb-3 mt-3">
    <span>Spécialisation :</span>
    <select class="form-control"  id="spe"
            [(ngModel)]="currentSpe" name="spe">
      <option *ngFor="let specialis of listeDesSpes" [value]="specialis">{{specialis}}</option>
    </select>
  </div>
</div>
<div class="row">
  <table class="offset-1 table table-striped col-10">
    <thead>
    <tr>
      <th scope="col"><strong>Slot</strong></th>
      <th scope="col"><strong>Bis Item</strong></th>
      <th scope="col"><strong>Drop a</strong></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let bisItem of listeBisItems">
      <ng-container *ngIf="bisItem.spe == currentSpe">
        <td><strong>{{bisItem.slot}}</strong></td>
        <td>
          <a href="https://www.wowhead.com/item={{bisItem.id}}"
             rel="bonus={{bisItem.bonus}}" class="q4">{{bisItem.name}}</a>
        </td>
        <td>
          {{bisItem.dropBy}} ({{bisItem.dungeonOrRaid}})
        </td>
      </ng-container>
    </tr>
    </tbody>
  </table>
</div>
