<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">DezPasSiApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/members">Membres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/newpds">newStats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pds">Stats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/newItemAssociation">Distribuer un item</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bisList">Bis List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/newBisListItems">New Bis List Item</a>
      </li>
      <li class="nav-item right">
        <a class="nav-link" href="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>
