<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">DezPasSiApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/members">Membres</a>
        <a class="nav-link" href="/pds">Stats</a>
        <a class="nav-link" href="/newpds">newStats</a>
      </li>
    </ul>
  </div>
</nav>
